@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  weight: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -web-kit-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*---------------------*/
ul,
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #757575;
  background: #FFFFFF;
  letter-spacing: 0.03em;
}

.page-header__container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.page-header__header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 315px;
  border-bottom: 1px solid #ececec;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.page-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 93px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-header__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: #2196F3;
}
.page-header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.page-header__item {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__link {
  position: relative;
  display: block;
  padding: 32px 0px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__link:hover, .page-header__link:focus {
  color: #2196F3;
}
.page-header__link::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__link:hover::after, .page-header__link:focus::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.page-header__link--active {
  color: #2196F3;
}
.page-header__link--active::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.page-header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-header__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__mail:hover, .page-header__mail:focus {
  color: #2196F3;
}
.page-header__mail-icon, .page-header__telephone-icon {
  margin-right: 10px;
}
.page-header__telephone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__telephone:hover, .page-header__telephone:focus {
  color: #2196F3;
}

.link-active::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.logo--header-last-part {
  color: #000000;
}

.mail-icon {
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.telephone-icon {
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  padding: 180px 0px 220px 0px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #2F303A;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.hero__button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  padding: 10px 32px;
  border-radius: 4px;
  border-style: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188CE8;
}

.about {
  padding: 94px 0px;
}
.about__container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.about__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__item:not(:last-child) {
  margin-right: 30px;
}
.about__items {
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  background-position: bottom;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 100px;
}
.about__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.about__text {
  font-size: 14px;
  line-height: 1.71;
}

.portfolio {
  padding-bottom: 94px;
}
.portfolio__container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.portfolio__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}
.portfolio__examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.portfolio__leyer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  position: absolute;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  -webkit-transform: translateY(-72px);
          transform: translateY(-72px);
}

.team {
  background: #f5f4fa;
  padding: 94px 0;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.team__container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}
.team__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  list-style: none;
}
.team__item {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}
.team__img {
  margin-bottom: 30px;
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}
.team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.social-list__item {
  width: 44px;
  height: 44px;
}
.social-list__item:not(:last-child) {
  margin-right: 10px;
}
.social-list__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #2196F3;
}
.social-list__icon {
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */