/* .container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
} */



/* <-- header  --> */

/* .header {
    display: flex;
    align-items: center;
    gap: 315px;
    border-bottom: 1px solid #ECECEC;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
} */

.logo {
    /* font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    color: var(--logo-first-part); */
}


/* .logo-last-part {
    color: var(--logo-last-part);
} */




/* .nav-wrap {
    display: flex;
    gap: 93px;
    align-items: center;
} */

/* .navigation {
    display: flex;
    align-items: center;
    gap: 50px;

} */


.navigation a {
    /* position: relative;
    display: block;
    padding: 32px 0px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}


/* .navigation a::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

} */

/* .navigation a:hover::after {
    opacity: 1;
    transform: scaleX(1);
} */

/* .navigation .active-link::after {
    color: #2196F3;
    opacity: 1;
    transform: scaleX(1);
} */


/* .navigation a:hover,
.navigation a:focus {
    color: #2196F3;
} */

/* 
.navigation a.active-link {
    color: #2196F3;
} */


/* .contacts {
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
} */


/* .contacts-mail,
.contacts-telephone {
    display: flex;
    align-items: center;
} */

/* .contacts .mail-icon,
.contacts .telephone-icon {
    margin-right: 10px
} */

/* .contacts a {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: inherit;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .mail-icon,
.telephone-icon {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .contacts .contacts-mail:hover,
.contacts .contacts-telephone:hover {
    fill: #2196F3;
}

.contacts a:hover,
.contacts a:focus {
    color: #2196F3;

} */

/* <--hero--> */

.hero {
    /* padding: 180px 0px 220px 0px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #2F303A;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

/* .about-advantages-items {
    width: 270px;
    display: block;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
} */


.hero-title {
    /* font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px; */

}

.button {
    /* font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    padding: 10px 32px;
    border-radius: 4px;
    border-style: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */

}

/* .button:hover,
.button:focus {
    background-color: #188CE8;
} */

.about {
    /* padding: 94px 0px; */
}

.about-advantages {
    /* display: flex;
    justify-content: space-between; */
}

/* .about-advantages li:not(:last-child) {
    margin-right: 30px;
} */

.about-title {
    /* font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px; */
}

.about-advantages-items {
    /* width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    background-position: bottom;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 25px 100px; */
}


.about-text {
    /* font-size: 14px;
    line-height: 1.71; */
}

.portfolio {
    /* padding-bottom: 94px; */
}



.leyer {
    /* display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
    position: absolute;

    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    transform: translateY(-72px); */
}

/* .portfolio-title, */
/* .team-title, */
.clients-title {
    /* font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: #212121;
    margin-bottom: 50px; */
}

/* .portfolio-title {
    margin-bottom: 50px;
} */

/* .portfolio-examples { */
/* display: flex;
    justify-content: space-between;
} */

.team {
    /* background: #F5F4FA;
    padding: 94px 0;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto; */
}

.team-cards {
    /* display: flex;
    justify-content: space-between;
    text-align: center;
    list-style: none; */
}

.team-cards-items {
    /* background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px; */
}

.team-cards .social-icons {
    /* display: flex;
    justify-content: center;
    margin-top: 16px; */
}

.team-cards .social-item {
    /* width: 44px;
    height: 44px; */
}

.social-link {
    /* width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #AFB1B8; */
}

.social-link-footer {
    /* width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ; */
}

.social-icon,
.social-icon-footer,
.clients-icon {
    /* fill: currentColor; */
}


.team-cards .social-link:hover,
.team-cards .social-link:focus,
.social-media .social-link-footer:hover,
.social-media .social-link-footer:focus {
    /* background-color: #2196F3; */
}


.social-link:hover .social-icon,
.social-link:focus .social-icon {
    /* fill: #FFFFFF; */
}

.team-cards .social-item:not(:last-child) {
    /* margin-right: 10px; */
}

.team-cards>.team-cards-items:not(:last-child) {
    /* margin-right: 30px; */
}

.team-cards-img {
    /* margin-bottom: 30px; */
}

.team-cards-title {
    /* font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: #212121;
    margin-bottom: 10px; */
}

.team-cards-text {
    /* font-size: 16px;
    line-height: 1.19;
    text-align: center; */
}

.filters {
    /* padding: 94px 0px; */

}

.filters-list {
    /* display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px; */
}

.projects-items {

    /* flex-basis: calc((100% - 60px) / 3);
    background: #FFFFFF;
    text-align: left;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.project-thumb {
    /* position: relative;
    overflow: hidden; */
}

.project-thumb::before {
    /* content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.project-thumb-text {
    /* position: absolute;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    font-style: normal;
    color: #FFFFFF;
    padding: 63px 24px;
    transform: translateY(100%);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1); */
}


.projects-items:hover .project-thumb::before {
    /* transform: translateY(0%); */
}

.projects-items:hover .project-thumb-text {
    /* transform: translateY(0%); */
}

.filters-list .projects-items:hover,
.filters-list .projects-items:focus {
    /* box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); */
}


.projects {
    /* display: flex;
    flex-wrap: wrap;
    gap: 30px; */
}



.projects>li:hover {
    /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16); */
}



.projects-info {
    /* border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    padding: 20px 24px; */
}

.filters a {
    text-decoration: none;

}

.visually-hidden {
    /* position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px; */
}

.filters-types {
    /* font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: #212121;
    cursor: pointer;
    background: #F5F4FA;
    border-radius: 4px;


    list-style: none;
    padding: 6px 25px;
    border: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.filters-types:hover,
.filters-types:focus {
    /* color: #FFFFFF;
    background-color: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); */
}

.filters-titles {
    /* font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px; */
}

.filters-text {
    /* font-size: 16px;
    line-height: 1.9;
    color: #757575; */
}

.clients {
    /* padding: 94px 0px; */
}

.clients-item {
    /* display: flex;
    justify-content: space-between; */
}


.clients-link {
    /* display: inline-block;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    padding: 16px 32px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #AFB1B8; */
}

.clients-link>li:not(:last-child) {
    /* margin-right: 30px; */
}



.clients-link:hover,
.clients-link:focus {
    /* border: 1px solid #2196F3;
    color: #2196F3; */
}


footer {
    /* position: relative;
    background-color: #2F303A;
    padding: 60px 0;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    height: 252px; */
}

.address {
    /* margin-top: 20px; */
}

.address li:not(:last-child) {
    /* margin-bottom: 9px; */
}



.address-map,
.footer-contact {
    /* font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.address-map {
    /* color: #FFFFFF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}


.address-map:hover,
.address-map:focus {
    /* color: #2196F3; */
}

.address a:hover,
.address a:focus {
    /* color: #2196F3; */
}


.footer-container {
    /* display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between; */

}

.address-box {
    /* display: flex;
    flex-direction: column; */
}

.social-media-title {
    /* font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px; */
}



.social-icons {
    /* display: flex;
    flex-direction: row; */

}


.social-media li:not(:last-child) {
    /* margin-right: 10px; */

}


.social-media .social-item {
    /* width: 44px;
    height: 44px; */
}

.logo-last-footer-part {
    /* color: var(--logo-last-footer-part); */
}

.backdrop {
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.backdrop.is-hidden {
    /* opacity: 0;
    pointer-events: none; */
}

.backdrop.is-hidden .modal {

    /* transform: translate(-50%, -50%) rotate(180deg) scale(0.5); */
}

.modal {
    /* position: absolute;
    width: 528px;
    top: 50%;
    left: 50%;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.button-modal-exit {
    /* position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    top: 8px;
    right: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); */

}

.button-modal-exit:hover {
    /* fill: #2196F3; */
}

.button-modal-exit:active {
    /* fill: #ffffff;
    background-color: #2196F3; */
}






.sign {
    /* display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px; */

}

.mail-sign {
    /* width: 358px;
    height: 50px;
    display: inline-block;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px 16px;
    color: #ffffff;
    margin-right: 12px; */
}

.button-sign {
    /* position: relative;
    width: 200px;
    height: 50px;
    display: inline-block;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding: 10px 28px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}



.button-sign:hover,
.button-sign:focus {
    /* background-color: #188CE8; */
}

.send-icon {
    /* position: absolute;
    left: 148px;
    top: 13px;
    fill: currentColor; */

}

.form {
    /* font-family: 'Roboto';
    font-style: normal;
    letter-spacing: 0.03em;
    font-weight: 400;
    color: #757575;
    padding: 40px; */
}

.form-title {
    /* font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px; */
}

.form-information {
    /* width: 448px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px; */
}

.form-information-box {

    /* display: flex;
    flex-direction: column;
    gap: 4px; */
}

.form-information-policy {
    /* height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px; */
}

.form-information-policy a {
    /* color: #2196F3; */
}

label {
    /* display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575; */

}

/* input[type=text],
input[type=tel],
input[type=email] {

    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 11px 11px 11px 42px;
    outline: none; */

}

input:last-child {
    /* border: 1px solid transparent; */
}

.form-information-box input {
    /* position: relative; */

}

.form-icon-name {
    /* position: absolute;
    transform: translate(12px, 25px); */
}

.form-icon-tel {
    /* position: absolute;
    transform: translate(12px, 25px); */
}

.form-icon-mail {
    /* position: absolute;
    transform: translate(12px, 25px); */
}

.form-information-box:focus-within .form-icon-name,
.form-information-box:focus-within .form-icon-tel,
.form-information-box:focus-within .form-icon-mail {
    /* fill: #2196F3; */
}

.form-information-box:focus-within input {
    /* border: 1px solid #2196F3; */
}


.form textarea {
    /* width: 100%;
    height: 120px;
    font-size: 12px;
    letter-spacing: 0.01em;
     color: rgba(117, 117, 117, 0.5);
    resize: none;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none; */

}

.form textarea:focus {
    /* border: 1px solid #2196F3; */
}

.form textarea::placeholder {
    /* color: rgba(117, 117, 177, 0.5); */

}


.button-submit {
    /* display: block;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
    margin: 0 auto; */
}

.button-submit:hover,
.button-submit:focus {
    /* background-color: #188CE8; */
}

.policy {
    /* display: inline-block;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em; */
}

.checkbox-icon {
    /* display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 2px;
    margin-right: 7px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */

}

.checkbox {
    /* appearance: none; */
}

.checkbox:checked+.checkbox-icon {
    /* border-color: #2196F3;
    background-color: #2196F3;
    background-image: url(../images/svg/checked-icon.svg);
    background-size: contain;
    background-origin: border-box; */


}