.clients {
    padding: 94px 0px;
    
    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        color: #212121;
        margin-bottom: 50px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        color: #afb1b8;
    }

    &__link {
        display: inline-block;
        width: 170px;
        height: 92px;
        border: 1px solid #afb1b8;
        border-radius: 4px;
        padding: 16px 32px;
        transition: border 250ms $cubic-bezier, color 250ms $cubic-bezier;
        color: #afb1b8;
    }

    &__link:hover,
    &__link:focus {
        border: 1px solid $link-active-color;
        color: $link-active-color;
    }

    &__icon {
        fill: currentColor;
    }
}

// .container {
//     width: 1200px;
//     padding: 0 15px;
//     margin: 0 auto;
//     box-sizing: border-box;
// }