$breakpoint: (
    phone: 480px,
    tablet: 768px,
    decktop: 1200px,
);

.container {
    //mobile screen 0 - 480px
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    box-sizing: border-box;

    //tablet screen 768px//
    @media screen and (min-width: 768px) {
    max-width: 768px;
    }
    //decktop screen 1200px//
    @media screen and (min-width: 1200px) {
    max-width: 1200px;
    }
}
