
.page-header {
    &__header-box {
        display: flex;
        align-items: center;
        gap: 315px;
        border-bottom: 1px solid #ececec;
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
    }

    &__nav {
        display: flex;
        gap: 93px;
        align-items: center;
    }

    &__logo {
        font-family: $logo-font;
        font-weight: 700;
        font-size: 26px;
        text-decoration: none;
        color: $logo-first-part;
    }

    &__navigation {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    &__item {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: inherit;
        text-decoration: none;
        transition: color 250ms $cubic-bezier;
    }

    &__link {
        position: relative;
        display: block;
        padding: 32px 0px;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #212121;
        text-decoration: none;
        transition: color 250ms $cubic-bezier;
    }

    &__link:hover,
    &__link:focus {
        color: $link-active-color;
    }

    &__link::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 4px;
        background-color: #2196f3;
        border-radius: 2px;
        position: absolute;
        left: 0;
        bottom: 0;
        opacity: 0;
        transform: scaleX(0);
        transition: opacity 250ms $cubic-bezier, transform 250ms $cubic-bezier;
    }

    &__link:hover::after,
    &__link:focus::after {
        opacity: 1;
        transform: scaleX(1);
    }

    &__link--active {
        color: $link-active-color;
    }

    &__link--active::after {
        opacity: 1;
        transform: scaleX(1);
    }

    &__contacts {
        display: flex;
        gap: 30px;
        list-style: none;
        align-items: center;
    }

    &__mail {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: inherit;
        text-decoration: none;
        transition: color 250ms $cubic-bezier;
    }

    &__mail:hover,
    &__mail:focus {
        color: $link-active-color;
    }

    &__mail-icon,
    &__telephone-icon {
        margin-right: 10px;
    }
    &__telephone {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: inherit;
        text-decoration: none;
        transition: color 250ms $cubic-bezier;
    }

    &__telephone:hover,
    &__telephone:focus {
        color: $link-active-color;
    }
}


.logo {
    font-family: $logo-font;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    color: $logo-first-part;
}

.logo--header-last-part {
    color: $logo-last-part;
}

.mail-icon {
    fill: currentColor;
    transition: fill 250ms $cubic-bezier;
}

.telephone-icon {
    fill: currentColor;
    transition: fill 250ms $cubic-bezier;
}


.container {
    //mobile screen 0 - 480px
    width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    box-sizing: border-box;

    //tablet screen 768px//
    @media screen and (min-width: 768px) {
        max-width: 768px;
    }

    //decktop screen 1200px//
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }
}