
    $logo-first-part: #2196F3;
    $logo-last-part: #000000;
    $logo-last-footer-part: #FFFFFF;
    $main-background-color: #FFFFFF;
    $main-font: 'Roboto', sans-serif;
    $logo-font:'Raleway', sans-serif;
    $button-main-color: #2196F3;
    $button-focused-color: #188CE8;
    $link-active-color: #2196F3;
    $cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
 